* {
    padding: 0;
    margin: 0;
}

html , body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
}

html {
    background-color: #3498db;    
}

#letter {
    font-size: 120px;
    font-family: Helvetica;
    font-weight: Bold;
    color: rgba(18,22,26,0.7);
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 1;
    z-index: 15;
}

#letter2 {
    font-size: 80px;
    font-family: Helvetica;
    font-weight: Bold;
    color: rgba(18,22,26,0.7);
    width: 550px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    position: fixed;
    top: 70%;
    left: 65%;
    margin-top: -60px;
    margin-left: -60px;
    opacity: 1;
    z-index: 15;
}

#description {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 100;
    font-family: Helvetica;
    font-weight: 200;
    color: rgba(18,22,26,0.7);
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
}

#animation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.ground {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #5B8930;
    opacity: 1.0;
}

.ground .hill {
    width: 1000px;
    height: 1000px;
    border-radius: 1000px;
    position: absolute;
    -webkit-transform: translate( -500px , 0px );
    -moz-transform: translate( -500px , 0px );
    -ms-transform: translate( -500px , 0px );
    -o-transform: translate( -500px , 0px );
    transform: translate( -500px , 0px );
    background-color: inherit;
}

.ground .hill:nth-of-type(1){
    left: 60%;
    top: -30px;
}

.ground .hill:nth-of-type(2){
    left: 40%;
    top: -50px;
}

.ground .hill:nth-of-type(3){
    left: 85%;
    top: -75px;
}

.ground .hill:nth-of-type(4){
    left: 10%;
    top: -25px;
}

.green {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 500px;
    background-color: #2ecc71;
    border-radius: 500px;
    -webkit-transform: scale( 1 , 0.25 );
    -moz-transform: scale( 1 , 0.25 );
    -ms-transform: scale( 1 , 0.25 );
    -o-transform: scale( 1 , 0.25 );
    transform: scale( 1 , 0.25 );
    margin-left: -200px;
    margin-top: -130px;
    opacity: 0.6;
    z-index: 7;
}

.hole {
    -webkit-transform: scale( 1 , 0.25 );
    -moz-transform: scale( 1 , 0.25 );
    -ms-transform: scale( 1 , 0.25 );
    -o-transform: scale( 1 , 0.25 );
    transform: scale( 1 , 0.25 );
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(145,175,150,1);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 150px;
    margin-top: 110px;
    z-index: 10;
}

.pole {
    width: 5px;
    height: 837px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    margin-top: -400px;
    margin-left: 158px;
    -webkit-transform: scale( 1 , 0.25 );
    -moz-transform: scale( 1 , 0.25 );
    -ms-transform: scale( 1 , 0.25 );
    -o-transform: scale( 1 , 0.25 );
    transform: scale( 1 , 0.25 );
    z-index: 100;
}

.flag {
    border-right: 28px solid rgba(255,114,93,1);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 130px;
    margin-top: -81px;
    z-index: 2;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    
    animation: flag 2s cubic-bezier(.37,0,.7,.99) 0s infinite alternate none;
	-webkit-animation: flag 2s cubic-bezier(.37,0,.7,.99) 0s infinite alternate none;
}

.ball , .ball div {
    position: absolute;
    width: 9px;
    height: 9px;
    overflow: hidden;
    border-radius: 13px;
    z-index: 15;
}

.ball {
    top: 0%;
    left: 0%;
    animation: ballPos 6s linear 0s infinite normal none;
	-webkit-animation: ballPos 6s linear 0s infinite normal none;
}

.ball div {
    background-color: #fff;
    box-shadow: inset 0px -2px 2px rgba(195,195,195,0.7); 
    animation: ballDrop 6s ease-in 0s infinite normal none;
	-webkit-animation: ballDrop 6s ease-in 0s infinite normal none;
}

.shot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 2px;
}

.shadow {
    z-index: 14;
    -webkit-transform: scale( 1 , 0.25 ) translate( 0px , 16px);
-moz-transform: scale( 1 , 0.25 ) translate( 0px , 16px);
-ms-transform: scale( 1 , 0.25 ) translate( 0px , 16px);
-o-transform: scale( 1 , 0.25 ) translate( 0px , 16px);
transform: scale( 1 , 0.25 ) translate( 0px , 16px);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #34495e;
    position: absolute;
    animation: ballShadow 6s linear 0s infinite normal none;
	-webkit-animation: ballShadow 6s linear 0s infinite normal none;
}

@keyframes flag {
	22% { -webkit-transform: skew( 0deg , 4deg ); -moz-transform: skew( 0deg , 4deg ); -ms-transform: skew( 0deg , 4deg ); -o-transform: skew( 0deg , 4deg ); transform: skew( 0deg , 4deg );} 
	100% { -webkit-transform: skew( 0deg , -4deg ); -moz-transform: skew( 0deg , -4deg ); -ms-transform: skew( 0deg , -4deg ); -o-transform: skew( 0deg , -4deg ); transform: skew( 0deg , -4deg );} 
	79% { -webkit-transform: skew( 0deg , 10deg ); -moz-transform: skew( 0deg , 10deg ); -ms-transform: skew( 0deg , 10deg ); -o-transform: skew( 0deg , 10deg ); transform: skew( 0deg , 10deg );} 
	51% { -webkit-transform: skew( 0deg , -12deg ); -moz-transform: skew( 0deg , -12deg ); -ms-transform: skew( 0deg , -12deg ); -o-transform: skew( 0deg , -12deg ); transform: skew( 0deg , -12deg ); } 
	0% { -webkit-transform: skew( 0deg , 11deg ); -moz-transform: skew( 0deg , 11deg ); -ms-transform: skew( 0deg , 11deg ); -o-transform: skew( 0deg , 11deg ); transform: skew( 0deg , 11deg );} 
}

@-webkit-keyframes flag {
	22% { -webkit-transform: skew( 0deg , 4deg ); -moz-transform: skew( 0deg , 4deg ); -ms-transform: skew( 0deg , 4deg ); -o-transform: skew( 0deg , 4deg ); transform: skew( 0deg , 4deg );} 
	100% { -webkit-transform: skew( 0deg , -4deg ); -moz-transform: skew( 0deg , -4deg ); -ms-transform: skew( 0deg , -4deg ); -o-transform: skew( 0deg , -4deg ); transform: skew( 0deg , -4deg );} 
	79% { -webkit-transform: skew( 0deg , 10deg ); -moz-transform: skew( 0deg , 10deg ); -ms-transform: skew( 0deg , 10deg ); -o-transform: skew( 0deg , 10deg ); transform: skew( 0deg , 10deg );} 
	51% { -webkit-transform: skew( 0deg , -12deg ); -moz-transform: skew( 0deg , -12deg ); -ms-transform: skew( 0deg , -12deg ); -o-transform: skew( 0deg , -12deg ); transform: skew( 0deg , -12deg ); } 
	0% { -webkit-transform: skew( 0deg , 11deg ); -moz-transform: skew( 0deg , 11deg ); -ms-transform: skew( 0deg , 11deg ); -o-transform: skew( 0deg , 11deg ); transform: skew( 0deg , 11deg );} 
}

@keyframes ballPos {
	46% { left: 50%; margin-left: 148px; margin-top: 110px; top: 50%;} 
	47% { } 
	47% { } 
	43% { left: 50%; margin-left: 138px; margin-top: 110px; top: 50%;} 
	45% { left: 50%; margin-left: 146px; margin-top: 110px; top: 50%;} 
	30% { left: 50%; margin-left: 60px; margin-top: 110px; top: 50%;} 
	29% { left: 50%; margin-left: 52px; margin-top: 105px; top: 50%;} 
	47% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%;} 
	28% { left: 50%; margin-left: 45px; margin-top: 110px; top: 50%;} 
	27% { left: 50%; margin-left: 30px; margin-top: 92px; top: 50%;} 
	26% { left: 50%; margin-left: 20px; margin-top: 95px; top: 50%;} 
	24% { left: 50%; margin-left: -15px; margin-top: 85px; top: 50%;} 
	22% { left: 50%; margin-left: -44px; margin-top: 85px; top: 50%;} 
	25% { left: 50%; margin-left: 5px; margin-top: 110px; top: 50%;} 
	23% { left: 50%; margin-left: -30px; margin-top: 80px; top: 50%;} 
	100% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%;} 
	21% { left: 50%; margin-left: -60px; margin-top: 110px; top: 50%;} 
	16% { left: 50%; margin-left: -130px; margin-top: 0px; top: -13px;} 
	0% { top: -13px; margin-left: 0px; margin-top: 0px; left: -20px;} 
}

@-webkit-keyframes ballPos {
	46% { left: 50%; margin-left: 148px; margin-top: 110px; top: 50%;} 
	47% { } 
	47% { } 
	43% { left: 50%; margin-left: 138px; margin-top: 110px; top: 50%;} 
	45% { left: 50%; margin-left: 146px; margin-top: 110px; top: 50%;} 
	30% { left: 50%; margin-left: 60px; margin-top: 110px; top: 50%;} 
	29% { left: 50%; margin-left: 52px; margin-top: 105px; top: 50%;} 
	47% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%;} 
	28% { left: 50%; margin-left: 45px; margin-top: 110px; top: 50%;} 
	27% { left: 50%; margin-left: 30px; margin-top: 92px; top: 50%;} 
	26% { left: 50%; margin-left: 20px; margin-top: 95px; top: 50%;} 
	24% { left: 50%; margin-left: -15px; margin-top: 85px; top: 50%;} 
	22% { left: 50%; margin-left: -44px; margin-top: 85px; top: 50%;} 
	25% { left: 50%; margin-left: 5px; margin-top: 110px; top: 50%;} 
	23% { left: 50%; margin-left: -30px; margin-top: 80px; top: 50%;} 
	100% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%;} 
	21% { left: 50%; margin-left: -60px; margin-top: 110px; top: 50%;} 
	16% { left: 50%; margin-left: -130px; margin-top: 0px; top: -13px;} 
	0% { top: -13px; margin-left: 0px; margin-top: 0px; left: -20px;} 
}

@keyframes ballShadow {
	46% { left: 50%; margin-left: 148px; margin-top: 110px; top: 50%; opacity: 1;} 
	47% { } 
	47% { } 
	43% { left: 50%; margin-left: 138px; margin-top: 110px; top: 50%;} 
	45% { left: 50%; margin-left: 146px; margin-top: 110px; top: 50%;} 
	30% { left: 50%; margin-left: 60px; top: 50%; margin-top: 110px;} 
	29% { left: 50%; margin-left: 52px; top: 50%; margin-top: 110px;} 
	47% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%; opacity: 0;} 
	28% { left: 50%; margin-left: 45px; top: 50%; margin-top: 110px;} 
	27% { left: 50%; margin-left: 30px; top: 50%; margin-top: 110px;} 
	26% { left: 50%; margin-left: 20px; top: 50%; margin-top: 110px;} 
	24% { left: 50%; margin-left: -15px; top: 50%; margin-top: 110px;} 
	22% { left: 50%; margin-left: -44px; top: 50%; margin-top: 110px;} 
	25% { left: 50%; margin-left: 5px; top: 50%; margin-top: 110px;} 
	23% { left: 50%; margin-left: -30px; top: 50%; margin-top: 110px;} 
	100% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%; opacity: 0;} 
	21% { left: 50%; margin-left: -60px; top: 50%; margin-top: 110px; opacity: 1;} 
	16% { left: 50%; margin-left: -130px; top: 50%; margin-top: 110px; opacity: 1;} 
	0% { top: 50%; margin-top: 110px; margin-left: 0px; left: -20px; opacity: 1;} 
}

@-webkit-keyframes ballShadow {
	46% { left: 50%; margin-left: 148px; margin-top: 110px; top: 50%; opacity: 1;} 
	47% { } 
	47% { } 
	43% { left: 50%; margin-left: 138px; margin-top: 110px; top: 50%;} 
	45% { left: 50%; margin-left: 146px; margin-top: 110px; top: 50%;} 
	30% { left: 50%; margin-left: 60px; top: 50%; margin-top: 110px;} 
	29% { left: 50%; margin-left: 52px; top: 50%; margin-top: 110px;} 
	47% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%; opacity: 0;} 
	28% { left: 50%; margin-left: 45px; top: 50%; margin-top: 110px;} 
	27% { left: 50%; margin-left: 30px; top: 50%; margin-top: 110px;} 
	26% { left: 50%; margin-left: 20px; top: 50%; margin-top: 110px;} 
	24% { left: 50%; margin-left: -15px; top: 50%; margin-top: 110px;} 
	22% { left: 50%; margin-left: -44px; top: 50%; margin-top: 110px;} 
	25% { left: 50%; margin-left: 5px; top: 50%; margin-top: 110px;} 
	23% { left: 50%; margin-left: -30px; top: 50%; margin-top: 110px;} 
	100% { left: 50%; margin-left: 152px; margin-top: 110px; top: 50%; opacity: 0;} 
	21% { left: 50%; margin-left: -60px; top: 50%; margin-top: 110px; opacity: 1;} 
	16% { left: 50%; margin-left: -130px; top: 50%; margin-top: 110px; opacity: 1;} 
	0% { top: 50%; margin-top: 110px; margin-left: 0px; left: -20px; opacity: 1;} 
}

@keyframes ballDrop {
	46% { margin-top: 0px;}
	47% { margin-top: 9px;} 
	100% { margin-top: 9px;} 
	0% { margin-top: 0px;} 
}

@-webkit-keyframes ballDrop {
	46% { margin-top: 0px;}
	47% { margin-top: 9px;} 
	100% { margin-top: 9px;} 
	0% { margin-top: 0px;} 
}

#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: 2200px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: 2200px;
    }
    100% {
        margin-left: -1000px;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: 2200px;
    }
    100% {
        margin-left: -1000px;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

*{
    padding:0;
    margin:0;
  }
  .main{
    width: 100%;
    min-height: 100vh;
    padding: 0px 0 0px;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    --skin-color:rgb(255,190,50);
    --border-color:rgb(92, 67, 13);
  }
  .loading{
    width: 240px;
    height: 180px;
    position: relative;
    background: transparent;
  }
  .ground{
    width:100%;
    position: absolute;
    /* height: 100px; */
    bottom: 0;
    z-index: 2;
  }
  .ground::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 10px;
    background: var(--border-color);
  }
  .text{
    color: var(--border-color);
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin: 25px auto;
    font-family: fantasy;
    letter-spacing: 2px;
    animation: show 2.7s infinite linear;
  }
  .sun{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 100%;
    margin-left: 450px;
    top: 120px;
    animation: move 5.7s infinite linear;
    z-index: -99;
    
  }
  .sun-body{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--skin-color);
    border:4px solid var(--border-color);
    position: relative;
    animation: spin 5.7s infinite linear;
    box-shadow: 10px 10px 100px 15px var(--skin-color);
  }
  .sun-eye{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--border-color);
    position: absolute;
    top: 28px;
    left: 16px;
    box-shadow: 15px 0px 0 var(--border-color);
    animation: see 5.7s infinite ease-out;
  }
  .sun-spot{
    width: 4px;
    height: 8px;
    background: var(--border-color);
    position: absolute;
    border-radius: 40%;
    opacity: .85;
    left: 50%;
    top: 50%;
    margin-left: -2px;
    margin-top: -5px;
  }
  .sun-spot:nth-of-type(1){
    transform:translate(0,-50px) rotate(0);
  }
  
  .sun-spot:nth-of-type(2){
    transform:translate(35px,-35px) rotate(45deg);
  }
  .sun-spot:nth-of-type(3){
    transform:translate(50px,0px) rotate(90deg);
  }
  
  .sun-spot:nth-of-type(4){
    transform:translate(35px,35px) rotate(135deg);
  }
  
  .sun-spot:nth-of-type(5){
    transform:translate(0,50px) rotate(180deg);
  }
  .sun-spot:nth-of-type(6){
    transform:translate(-35px,35px) rotate(225deg);
  }
  .sun-spot:nth-of-type(7){
    transform:translate(-50px,0px) rotate(270deg);
  }
  .sun-spot:nth-of-type(8){
    transform:translate(-35px,-35px) rotate(315deg);
  }
  @keyframes move{
    40%,70%{
      transform: translateY(-150px);
    }
    0%,10%,100%{
       transform: translateY(0%);
    }
  }
  @keyframes spin{
    0%,10%,100%{
      transform: rotate(0deg);
    }
    40%,70%{
      transform: rotate(-90deg);
    }
  }
  @keyframes see{
    0%,40%{
      transform: translateX(0) scaleY(1);
    }
    45%{
      transform: translateX(0) scaleY(.1);
    }
    50%{
      transform: translateX(0) scaleY(1);
    }
    70%,100%{
      transform: translateX(22px) scaleY(1);
    }
  }
  
  @keyframes show{
    0%,100%{
      opacity: .2;
    }
    50%{
      opacity: 1;
    }
  }
